@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.65rem;

  --background: #ffffff;
  --foreground: hsla(0, 0%, 7%, 1);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);

  --primary: hsla(262, 47%, 44%, 1);
  --primary-foreground: oklch(0.969 0.016 293.756);

  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);

  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: hsla(0, 0%, 27%, 1);

  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);

  --border: oklch(0.92 0.004 286.32);
  --input: hsla(218, 12%, 87%, 1);
  --ring: hsla(235, 12%, 21%, 1);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-display: var(--font-bricolage);

  --radius-lg: var(--radius);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --color-peppermint-base: #625afa;
  --color-peppermint-indigo: #141232;
  --color-peppermint-indigo-90: #efefff;
  --color-peppermint-heavy-violet-90: #edeef0;
  --color-peppermint-heavy-violet-40: #959aa6;
  --color-peppermint-heavy-violet-base: #4f566b;
  --color-peppermint-chapeau-violet: #e3e8ee;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  * {
    @apply border-border;
    outline-color: var(--ring);
    outline-offset: 2px;
  }
}
